= "Signed in as ...." + current_user.email
= link_to('Wyloguj', destroy_user_session_path, :method => :delete)
= link_to('Moje konto', edit_user_registration_path)
= link_to('Moje bransoletki', bracelets_path(id: current.user.id))