#pallete-full{style:'float:left;margin-left:15px;margin-right:20px'}
  #current-color{style: "width: 20px; height: 20px; background-color:##{@current_color.hex};border: 1px solid black;"}
  %table
    - @colors.each do |color|
      %tr
        %td
          = color.try(:name)
        %td.color-to-select{style:"background-color:##{color.hex}", :onclick => "setAsSelectedColor()"}