.col-sm-5
  #pallete-full{style:'float:left;margin-left:15px;margin-right:20px'}
    Wybrany kolor:
    #current-color{style: "width: 100px; height: 100px; background-color:##{@current_color.hex};border: 1px solid black;"}
    .col-md-3a
      Paleta kolorów:
      %table
        - @colors.each do |color|
          %tr
            / %td
            /   = color.try(:name)
            %td.color-to-select{style:"background-color:##{color.hex}", :onclick => "setAsSelectedColor()"}