#entire_table_second{style:'margin-left:15px;float:left'}
  - a = (@bracelet.height * 4.55).ceil
  - (0..a).each do |row_index|
    %table
      = render 'single_row_second_throw', :@color_positions => @bracelet.positions_in_second_look_for_iteration(row_index).to_a, :@row_index => row_index