.banner
  .container
    .orange-box
      %h1 ZAPROJEKTUJ WŁASNĄ BRANSOLETKĘ DZIĘKI APLIKACJI BRACEL!
      %p Stwórz wzór bransoletki, dobierz kolor końcówek oraz rodzaj zapięcia. My stworzymy zaprojektowaną przez Ciebie bransoletkę.
      = link_to 'ZACZNIJ PROJEKTOWAĆ', new_creator_bracelet_path
    .clearfix
    / banner Slider Ends Here
.our
  .container
    %h5 DLACZEGO NASZE BRANSOLETKI SĄ WYJĄTKOWE?
    .our-top
      .col-md-3.our-left
        %i.materialy
        %h2 MATERIAŁY
        %p Bransoletki BRACEL tworzone są z wysokiej jakości szklanych koralików marki TOHO. Koraliki są odporne na ścieranie oraz wykazują dużą trwałość.
      .col-md-3.our-left
        %i.wykonanie
        %h2 WYKONANIE
        %p Bransoletki BRACEL tworzone są w niewiarygodny sposób - za pomocą szydełka. Dzięki tej pracochłonnej technice efekt końcowy jest zniewalający.
      .col-md-3.our-left
        %i.kreatywnosc
        %h2 KREATYWNOŚĆ
        %p Dzięki aplikacji BRACEL możesz stworzyć własny, niepowtarzalny wzór bransoletki, dobrać kolory, zakończenie, grubość oraz długość bransoletki
      .col-md-3.our-left
        %i.dodatki
        %h2 DODATKI
        %p Pamiętaj, że to dodatki tworzą całą stylizację. Dzięki BRACEL możesz za każdym razem cieszyć się idealnie dobranym dodatkiem w postaci bransoletki.
      .clearfix
.center
  .container
    %a{:href => "#"}
      %i.twt
    %a{:href => "#"}
      %i.fb
    %a{:href => "#"}
      %i.insta
    %a{:href => "#"}
      %i.pin
    .clearfix
.our2
  .our_container
    %h5 JAK TO DZIAŁA?
    %h2 Skorzystaj ze specjalnej aplikacji do tworzenia bransoletki. Stworzenie swojej idealnej, niepowtarzalnej bransoletki jest teraz banalnie proste. Poprowadzimy Cię krok po kroku.
    .our-top
      .col-md-4.our-left
        .graylayer
          %i.pencil
        %p Stwórz swój wzór lub wybierz z kolekcji.
      .col-md-4.our-left
        .graylayer
          %i.ending
        %p Dobierz wykończenie bransoletki.
      .col-md-4.our-left
        .graylayer
          %i.gift
        %p Zamów bransoletkę i czekaj na paczkę.
      %br
      %a{:href => "index.html"} Dowiedz się więcej o zamówieniach, zwrotach oraz przesyłce >
      %br/
      %br
      .clearfix

