/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
td,tr,table,div{
    padding:1;
    margin:0;
    border-spacing: 0;
  }
/* Class of TD */
td{
  width: 10px;
  height: 10px;
  border:1px solid black;
}
td.no-border{
  width: 1px !important;
  height: 5px;
  border: 0px solid white !important;
  }
  
td.small{
  width:1px;
  height: 5px;
  border:1px solid black; 
}
td.small_second{
  width:0px;
  height: 0px;
  border:1px solid black; 
}
td.normal_second{
  width:5px;
  height: 3px;
  border:1px solid black; 
}
td.admin-small{
  width:5px;
  height: 3px;
  border:1px solid black;
}
    
td.small-no-border{
    width: 0px !important;
    height: 0px;
    border: 0px solid white !important; 
}
/* END CLASS OF TD */

/* COLOR AVAILIBILITY*/
.dostepny{
  color:red;
}
.niedostepny{
  color:gray;
}

/* FORMS */
.div-left{
  float:left;
}
.div-right{
  position:relative;
}
.panel{
  width: 100%;
  height: 70%;
  min-height: 850px;
  padding: 19px 29px 29px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

@media print {
  body {
    background: #FFF;
 }
 #entire_table {
  padding: 20px;
 }

